
Turn_Based/bin/Debug/net8.0/C\# Console Turn-Based Game.exe
Turn_Based/bin/Debug/net8.0/C\# Console Turn-Based Game.dll
Turn_Based/obj/C\# Console Turn-Based Game.csproj.nuget.dgspec.json
Turn_Based/obj/C\# Console Turn-Based Game.csproj.nuget.g.props
Turn_Based/obj/Debug/net8.0/C\# Console Turn-Based Game.AssemblyInfo.cs
Turn_Based/obj/Debug/net8.0/C\# Console Turn-Based Game.AssemblyInfoInputs.cache
Turn_Based/obj/Debug/net8.0/C\# Console Turn-Based Game.assets.cache
Turn_Based/obj/Debug/net8.0/C\# Console Turn-Based Game.csproj.CoreCompileInputs.cache
Turn_Based/obj/Debug/net8.0/C\# Console Turn-Based Game.GeneratedMSBuildEditorConfig.editorconfig
Turn_Based/obj/Debug/net8.0/C\# Console Turn-Based Game.sourcelink.json
Turn_Based/obj/project.assets.json
Turn_Based/obj/project.nuget.cache
